body{
    background-color: rgb(167, 165, 165);
}
#user-bar {
    background-color: #30BF97;
    border: solid 5px #D97B29;
}
#posts {
    border: solid 5px #D93636;
    background-color: #285059;
}
.img {
    border: solid 5px #F2AE30;
}
.titles{
    background-color: white;
}
#config {
    border: solid 5px #30BF97;
    background-color: #D97B29;
}
#configs{
    background-color: white;
}
p1{
    float:left;
}